APPLE_SIGNING_IDENTITY="Developer ID Application: Beijing ModelBest Technology Co., Ltd. (77Y5JFSH6H)"
APPLE_TEAM_ID="77Y5JFSH6H"

# Fill in your Apple developer account email.
APPLE_ID="3318016719@qq.com"

# Generate this at https://appleid.apple.com/ under "App-Specific Passwords".
APPLE_PASSWORD="yrbq-wigb-mikf-rzbg"
